.search {
  position: relative;
  align-items: center;
  gap: 15px;
  z-index: 1001;

  /* background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.05)
  ); */
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.search svg {
  padding-left: 25px;
  min-width: 22px;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.search:hover svg {
  opacity: 1;
}

#search-input {
  background: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  width: 100%;
  padding: 8px 0;
  font-family: inherit;
}

#search-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

#search-input:focus {
  outline: none;
}

.search-suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: var(--secondary-color);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  margin-top: 8px;
  max-height: 400px;
  overflow-y: auto;
  z-index: 1000;
  backdrop-filter: blur(10px);
  display: none;
}

.suggestion-item {
  padding: 18px 16px;
  cursor: pointer;
  transition: background 0.2s;
  color: var(--white);
}

.suggestion-item:hover {
  background: rgba(255, 255, 255, 0.1);
}
